/* start with rules below to control webpage layout*/

/*starting with small devices*/
*{ margin: 0; padding: 0; box-sizing: border-box;}
body { font-family:  Georgia, 'Times New Roman', Times, serif; text-align: center; }
main { background-image: url(fireworks.png); background-repeat: no-repeat; background-size: cover;}

  


/*below settings for the main heading and sub headings*/

h1 { font-size: 1.5em; color: #f14703; padding: 0px; 
    margin: 0.3375em 0em 0em 0em; text-shadow:3px 1px 1px #ffffff;}
    h2 { color:#ffffff; font-size: 1.75em; margin-top: 2em;}

    h3 { color:#f14703; font-size: 1.5em; margin-top: 2em;text-shadow:1px 1px 0.5px #ffffff;}
  
    h4 { color:#ffffff; font-size: 1em; margin-top: 2em;}
  
    h5 { color:#f14703; font-size: 1em; margin-top: 2em;text-shadow:1px 1px 0.5px #ffffff;}

    li, h6 { color: #ffffff; font-size: 1.3em; margin: 0.75em 0em 0em 1.5em; }

    ol { margin: 3em 0em 0em 0em;}
    
    .paypal { background-color: #f14703;}
    
  
   
    
  
    /* Below are the container settings */

        div.grid-container {
            display: grid;
            width: 100vw;
            height: 100vh;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: 10% 10% 72% 10% 6%;}

            div.flex-container {
                display: flex;
                flex-flow:row;
                height:auto;
                justify-content:space-evenly ;
                align-items: center;
              }

            div.flex-container >div {
                padding:  0em 0em 0em 0em; background-color: #ecb603fa; border: 3px solid #000000; border-radius: 1.25em; height: 2em
                ; width: 10em; margin: 1em 0em 0em 0em; font-size: 0.65em;
              }

             


              

              

              .container { position: absolute; height: 5.5em;width: 28em;
            margin: 0em 0em 0em 1.5em;}

            .container0 {
                position:relative;
                margin: 22em 0em 0em 4em;
                height: 4em;
                width: 20em;}

              .container1 {
                position:relative;
                margin: 3em 0em 0em 5em;
                height: 4em;
                width: 20em;}

            
        

                
                .container2 { position: absolute; height: 5.5em;width: 28em;
                margin: 0em 0em 0em 1.5em;}


                .container3 { position: absolute; height: 22em;width: 32em;
                    margin: 0em 0em 0em 1em ; }

                 .container4 { height: 38em; width: 30em; border: 2px solid #000000; margin: 1em 0em 0em 0.75em; background-color: #00000080;}

                 .container5 { position: relative; height: 15em;width: 12em;
                    margin: 13em 0em 0em 10em ; border: 2px solid #000000; background-color: #007bb5;}
                
                
    
 /*Now the settings for {header, footer, nav, aside} below*/

header { display:flow-root; text-align: center;}

header, footer, nav, aside { background:linear-gradient(45deg, #1f109e90, #06022d);
        color: #06022d; color: #ffffff;}


    header { grid-column: span 10;}
    nav { grid-column: span 10}
    main { grid-column: span 10}
    aside { grid-column: span 10}
    footer { grid-column: span 10;}
        
    /*Now below the wrapper settings*/

    .wrapper { display:block; height: 5em; width: 8em; border:  2px solid #ffffff; position: absolute;
        background-image: url("coffeesm.png"); background-repeat: no-repeat; margin: 0em 0em 0em 0.25em;}

        .wrapper1 { display:inline-block; height: 5em; width: 8em; border:  2px solid #ffffff; position: absolute;
            background-image: url("jic.png"); background-repeat: no-repeat; margin: 0em 0em 0em -4.25em;}

            .wrapper2 { display:inline-block; height: 5em; width: 8em; border:  2px solid #ffffff; position: absolute;
                background-image: url("zegw.png"); background-repeat: no-repeat; margin: 0em 0em 0em 5.5em;}

                .wrapper3 { display:inline-block; height: 5em; width: 8em; border:  2px solid #ffffff; position: absolute;
                    background-image: url("fireworks1a.png"); background-repeat: no-repeat; margin: 0.25em 0em 0em -13.5em;}
          
                    .wrapper4 { display:inline-block; height: 5em; width: 8em; border:  2px solid #ffffff; position: absolute;
                          background-image: url("responsive.png"); background-repeat: no-repeat; margin: 0.25em 0em 0em -4em;}

                          .wrapper5{ display:inline-block; height: 5em; width: 8em; border:  2px solid #ffffff; position: absolute;
                            background-image: url("20221.png"); background-repeat: no-repeat; margin: 0.25em 0em 0em 5.5em;}
       /*-------------------------------------------------------------------------------------------------------------------------------------------*/

                            .wrapper7{ display:inline-block; height: 8em; width: 13em; border:  2px solid #ffffff; position: absolute;
                                background-image: url("classic.png"); background-repeat: no-repeat; margin: -1em 0em 0em -2em; list-style-type: none;}
    
                                .wrapper9{ display:inline-block; height: 8em; width: 13em; border:  2px solid #ffffff; position: absolute; list-style-type: none;
                                    background-image: url("green2.png"); background-repeat: no-repeat; margin: -1em 0em 0em -17em;}
    
             
                                    .wrapper10{ display:inline-block; height: 8em; width: 13em; border:  2px solid #ffffff; position: absolute; list-style-type: none;
                                        background-image: url("coffcup2.png"); background-repeat: no-repeat; margin: 9em 0em 0em -17em;}
    
                                        .wrapper11{ display:inline-block; height: 8em; width: 13em; border:  2px solid #ffffff; position: absolute; list-style-type: none;
                                            background-image: url("responsive3.png"); background-repeat: no-repeat; margin: 9em 0em 0em -2em;}
    
    
                            
                                        
        
                            /* Below settings for social media*/


                            .fa {
                                padding: 0.5em;
                                font-size:  1em;
                                width:  2em;
                                height: 2em;
                                text-align: center;
                                text-decoration: none;
                                margin-top: 0.5;
                               
                            }
                            
                              .fa:hover {
                                opacity: 1; color: #ff0000;
                                 background-color: #000000;
                            }
                            
                              .fa-facebook {
                                background: #3B5998;
                                color: white;
                              }
                            
                              .fa-twitter {
                                background: #55ACEE;
                                color: white;
                              }
                            
                              .fa-linkedin {
                                background: #007bb5;
                                color: white;
                              }


    /* Below css #id settings*/

        #offer { font-size: 2em; color: #f14703; padding: 0px; 
        margin: 1em 0em .05em 0em; text-shadow:2px 2px 2px #ffffff;}
        #h6 { color:#f14703; font-size: 0.75em; margin: 1em 0em 0em 0.25em;text-shadow:1px 1px 1px #ffffff;padding-top: 1em;}
        #cofbrk { color: #ffffff; font-size: 0.75em; margin: 0.5em 0em 0em 0.25em; 
            padding-top: 1em; background-color: #00000080;} 
        #desig { font-size: 0.5em;  margin-top: 2em;}

        #zegfoot { float: right; margin: -2.5em 20em 0em 0em;}
        
        #zeg2 { float:left; margin: -2.5em 0em 0em 20em;}

        #sel { font-size: 1.5em; color:#ffffff; padding: 0.5em; text-shadow: 2px 2px 1.5px #000000; margin:1em 0em 2em 0em;}

        #cl1 { font-size: 1em; margin: 5em 1em 0em 0em; font-weight: bold;}

        #cont { background: #62c8e7;}

        #h1blk, #h2blk { font-size: 1.5em; color: #000000; padding: 0px; 
            margin: 0.3375em 0em 0em 0em; text-shadow:2px 2px 1px #ffffff;}

        #aim { font-size: 0.90em; background-color: #ffffff90; padding: 0.25em; margin: 0.5em 0em 0.75em 0em}

        #home, #templates, #ouraim, #contact, #layout  { text-decoration: none; color: #ffffff; padding: 0.15em;}

        #home:hover, #ouraim:hover, #templates:hover, #contact:hover, #layout:hover { background-color: #f14703; cursor: pointer; color:#ffffff;}

        #home:visited, #ouraim:visited, #templates:visited, #contact:visited, #layout:visited { color: #000000 ; text-decoration: none;}

        #email { font-size: 1.5em; color: #ffffff; margin: 1em 0em 0em 0em;}

        #smart-button-container { 
            height: 3em; width: auto; margin: 16em 0em 0em 10em ; position: absolute;
        }
        #claim { color: #ff0000;}

        #sbm { margin-top: 1em; background-color: cyan;}

        #sbm:hover { background-color: #000000; color: #ff0000;}

        

  
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        
/* Now on to medium devices with @media query*/

@media only screen and ( min-width:37.5em ) 
                and ( max-width:68em ) {
                    /*setting font size for this screen*/

                    

/*Starting with grid-container settings*/


div.grid-container {
    grid-template-rows: 10% 83% 13% 8%;}

    div.flex-container >div {
        padding:  0em 0em 0em 0em; background-color: #ecb603fa; border: 3px solid #000000; border-radius: 1.25em; height: 2em
        ; width: 10em; margin: 1.5em 0em 0em 0em; font-size: 0.65em;} 

        .container { position: absolute; height: 35em; width: 11em;
        margin: 1em 0em 0em 0.5em;}

        .container0 {
            position:absolute;
            margin: 30em 0em 0em 14em;
            height: 4em;
            width: 20em;}

        .container1 {
            position:relative;
            margin: 3em 0em 0em 14em;
            height: 4em;
            width: 20em;}




            .container2 { position: absolute; height: 7em;width: 40em; 
            margin: 0em 0em 0em 10em}

            .container3 { position: absolute; height: 25em;width: 35em;
                margin: 0em 0em 0em 5.5em ;}

                .container4 { height: 45em; width: 45em; border: 2px solid #000000; margin: 1em 0em 0em 0.75em; background-color: #00000080;}

                .container5 { position: absolute; height: 12em;width: 20em;
                    margin: 22em 0em 0em 14em ; border: 2px solid #000000; background-color: #007bb5;}
                
                
            
               


nav { grid-column: span 2;}
main { grid-column: span 8;}

/*medium device wrapper settings*/

.wrapper { display:block; height: 6.5em; width: 10.5em; border:  2px solid #ffffff; position: absolute;
    background-image: url("coffeemd.png"); background-repeat: no-repeat; margin: 0.5em 0em 0em 0em;}

    .wrapper1 { display:inline-block; height: 6.5em; width: 10.5em; border:  2px solid #ffffff; position: absolute;
        background-image: url("jic1.png"); background-repeat: no-repeat; margin: 10em 0em 0em -5.25em;}

        .wrapper2 { display:inline-block; height: 6.5em; width: 10.5em; border:  2px solid #ffffff; position: absolute;
            background-image: url("zegw1.png"); background-repeat: no-repeat; margin: 20em 0em 0em -5.25em;}

            .wrapper3 { display:inline-block; height: 6.5em; width: 10.5em; border:  2px solid #ffffff; position: absolute;
                background-image: url("fireworks1b.png"); background-repeat: no-repeat; margin: 0em 0em 0em -15em;}
                
                .wrapper4 { display:inline-block; height: 6.5em; width: 10.5em; border:  2px solid #ffffff; position: absolute;
                    background-image: url("responsive1.png"); background-repeat: no-repeat; margin: 0.25em 0em 0em 0em;}

                    .wrapper5{ display:inline-block; height: 6.5em; width: 10.5em; border:  2px solid #ffffff; position: absolute;
                        background-image: url("20221a.png"); background-repeat: no-repeat; margin: 0.25em 0em 0em 14em;}

                        .wrapper6{ display:inline-block; height: 16.5em; width: 10.5em; border:  2px solid #ffffff; position: absolute;
                            background-image: url("snow1.png"); background-repeat: no-repeat; margin: 30em 0em 0em -5.2em;}
    
                            .wrapper8{ display:block; height: 6.5em; width: 10.5em; border:  2px solid #ffffff; position: absolute;
                                background-image: url("green.png"); background-repeat: no-repeat; margin: 0.25em 0em 0em -8em;}
    /*----------------------------------------------------------------------------------------------------------------------------------------------*/
                                .wrapper7{ display:inline-block; height: 9em; width: 14em; border:  2px solid #ffffff; position: absolute;
                                    background-image: url("classic2.png"); background-repeat: no-repeat; margin: 5em 0em 0em 1em;}
        
                                    .wrapper9{ display:inline-block; height: 9em; width: 14em; border:  2px solid #ffffff; position: absolute;
                                        background-image: url("green3.png"); background-repeat: no-repeat; margin: 5em 0em 0em -16em;}
        
                 
                                        .wrapper10{ display:inline-block; height: 9em; width: 14em; border:  2px solid #ffffff; position: absolute;
                                            background-image: url("coffcup3.png"); background-repeat: no-repeat; margin: 17em 0em 0em -16em;}
        
                                            .wrapper11{ display:inline-block; height: 9em; width: 14em; border:  2px solid #ffffff; position: absolute;
                                                background-image: url("responsive4.png"); background-repeat: no-repeat; margin: 17em 0em 0em 1em;}
        
        
        


        #offer { font-size: 2em; color: #f14703; padding: 0px; 
            margin: 1em 0em .05em 0em; text-shadow:2px 2px 2px #ffffff;}
            #h6 { color:#f14703; font-size: 0.85em; margin-top: 0.75em;text-shadow:1px 1px 1px #ffffff;padding-top: 2.5em;}
            #desig { font-size: 0.5em;  margin-top: 2em;}
            #cofbrk { color: #ffffff; font-size: 1em; margin-top: 0.75em; padding-top: 1em;} 
            #zegfoot { float: right; margin: -2em 4em 0em 0em;}
            
            #zeg2 { float:left; margin: -2em 0em 0em 8em;}

            #cl1 { font-size: 1.2em; margin: 4.5em 1em 0em 0em; font-weight: bold;}

            #h1blk, #h2blk { font-size: 1.5em; color: #000000; padding: 0px; 
                margin: 0.3375em 0em 0em 0em; text-shadow:2px 2px 1px #ffffff;}
    
            #aim { font-size: 1.22em;margin: 1.5em 0em 1.5em 0em;}

            #smart-button-container { 
                height: 2em; width:12em ; margin: 10em 0em 0em 30em ; position: absolute;
                
            }

            #sel { font-size: 1.5em; color:#ffffff; padding: 0.5em; text-shadow: 2px 2px 2px #000000; margin-top: 2em;}

            #email { font-size: 1.5em; color: #ffffff; margin: 25em 0em 0em 0em;}

            #sbm { height: 2em; width: 4em; margin-top: 1em; background-color: cyan;}

            #sbm:hover { background-color: #000000; color: #ff0000;}

    



        
/* Now new larger font settings*/

h1 { font-size: 2em; color: #f14703; padding: 0px; 
    margin: 0em 0em 0em 0em; text-shadow:4px 1.5px 1.5px #ffffff;}
    h2 { color:#ffffff; font-size: 1.75em; margin-top: 4em;}

    h3 { color:#f14703; font-size: 1.5em; margin-top: 3em;text-shadow:1px 1px 0.5px #ffffff;}
  
    h4 { color:#ffffff; font-size: 1.25em; margin-top: 2em;}
  
    h5 { color:#f14703; font-size: 1em; margin-top: 2em;text-shadow:1px 1px 0.5px #ffffff;}

    li, h6 { color: #ffffff; font-size: 1.7em; margin: 0.75em 0em 0em 1.5em; }
    ol { margin: 4em 0em 0em 0em;}


  
    

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
                }
/*And finally @media for large devices*/

@media only screen and ( min-width:62em ) {

      /*setting font size for this screen*/


    body { font-size: 1.5em;}

    /*Again grid-container settings*/

    .container { position: absolute; height: 31em; width: 15em;
    margin: 0em 0em 0em 0em;}

    .container0 {
        position:absolute;
        margin: 25em 0em 0em 12em;
        height: 4em;
        width: 20em;}

    .container1 {
        position:absolute;
        margin: 0.5em 0em 0em 13em;
        height: 4em;
        width: 20em;}

        .container1a {
            position:absolute;
            margin: 0.5em 0em 0em 13em;
            height: 4em;
            width: 20em;}

            .container1b {
                position:absolute;
                margin: 5em 0em 0em 13em;
                height: 4em;
                width: 20em;}

   .container2 { position: absolute; height: 13em; width: 15em;
margin: 0em 0em 0em 0.25em; }

.container3 { position: absolute; height: 23em;width: 35em;
    margin: 0em 0em 0em 5.5em ;}

    .container4 { height: 33em; width: 45em; border: 2px solid #000000; margin: 1em 0em 0em 0.75em; background-color: #00000080;}

    .container5 { position: absolute; height: 12em;width: 25em;
        margin: 13em 0em 0em 12em ; border: 2px solid #000000;}
    
   

    


div.grid-container {
    grid-template-rows: 14% 92% 10% ; }

nav { grid-column: span 2;}
main { grid-column: span 6;}
aside { grid-column: span 2;}

div.flex-container >div {
    padding:  0em 0em 0em 0em; background-color: #ecb603fa; border: 3px solid #000000; border-radius: 1.25em; height: 2em
    ; width: 10em; margin: 0.5em 0em 0em 0em; font-size: 0.65em;}


/*large device wrapper settings*/

.wrapper { display:block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
    background-image: url("coffeelg.png"); background-repeat: no-repeat; margin: 0.2em 0em 0em 0.7em;}

    .wrapper1 { display:inline-block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
        background-image: url("jic2.png"); background-repeat: no-repeat; margin: 13em 0em 0em -6.83em;}

        .wrapper2 { display:inline-block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
            background-image: url("zegw2.png"); background-repeat: no-repeat; margin: 26em 0em 0em -6.83em;}

            .wrapper3 { display:inline-block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
                background-image: url("fireworks1c.png"); background-repeat: no-repeat; margin: 0.2em 0em 0em -7.5em;}

                .wrapper4 { display:inline-block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
                    background-image: url("responsive2.png"); background-repeat: no-repeat; margin: 13em 0em 0em -7.5em;}

                    .wrapper5{ display:inline-block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
                        background-image: url("20221b.png"); background-repeat: no-repeat; margin: 26em 0em 0em -7.5em;}

                        .wrapper7{ display:inline-block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
                            background-image: url("classic1.png"); background-repeat: no-repeat; margin: 1em 0em 0em 0em;}

                            .wrapper9{ display:inline-block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
                                background-image: url("green1.png"); background-repeat: no-repeat; margin: 1em 0em 0em -16em;}

         
                                .wrapper10{ display:inline-block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
                                    background-image: url("coffcup.png"); background-repeat: no-repeat; margin: 14em 0em 0em -16em;}

                                    .wrapper11{ display:inline-block; height: 10em; width: 15em; border:  2px solid #ffffff; position: absolute;
                                        background-image: url("responsive2.png"); background-repeat: no-repeat; margin: 14em 0em 0em 0em;}



                        #cofbrk { color: #ffffff; font-size: 0.75em; margin-top: 0.75em; padding-top: 1em;} 
        #offer { font-size: 2.25em; color: #f14703; padding: 0px; 
            margin: 1em 0em .05em 0em; text-shadow:2px 2px 2px #ffffff;}
            #h6 { color:#f14703; font-size: 1em; margin-top: 1.5em;text-shadow:1px 1px 1px #ffffff;padding-top: 3em;}
            #desig { font-size: 0.5em;  margin-top: 2em;}
    
            #zegfoot { float: right; margin: -1.5em 20em 0em 0em;}
            
            #zeg2 { float:left; margin: -1.5em 0em 0em 20em;}

            #sel { font-size: 1.1em; color:#ffffff; padding: 0.5em; text-shadow: 2px 2px 2px #000000; margin: 0em 0em 0em 0em;}

            #cl1 { font-size: 1.3em; margin: 5.5em 1em 0em 0em; font-weight: bold;}
            #h1blk, #h2blk { font-size: 1.4em; color: #000000; padding: 0px; 
                margin: 0.75em 0em 0em 0em; text-shadow:3px 3px 1px #ffffff;}
    
                #aim { font-size: 1.1em; margin: 0em 0em 0em 0em;}

                #smart-button-container { 
                    height: 3em; width: 15em; margin: 7em 0em 0em 33em ; position: absolute;
                }

                #txtar { height: 4em; width: 25em;}
                #eml  { height: 2em; width: 25em;}
                #nme  { height: 2em; width: 25em;}
                #msg { margin-left: 1em;}
                #sbm { height: 3em; width: 6em; margin-top: 1em; background-color: cyan;}

                #email { font-size: 1.5em; color: #ffffff; margin: 18em 0em 0em 0em;}


                #sbm:hover { background-color: #000000; color: #ff0000;}
                
/*Even larger settings for font*/

h1 { font-size: 2.5em; color: #f14703; padding: 0px; 
    margin: 0.125em 0em 0em 0em; text-shadow:5px 2px 2px #ffffff;}
    h2 { color:#ffffff; font-size: 1.2em; margin-top: 2em;}

    h3 { color:#f14703; font-size: 1.2em; margin-top: 3em;text-shadow:1px 1px 0.5px #ffffff;}
  
    h4 { color:#ffffff; font-size: 1.2em; margin-top: 2em;}
  
    h5 { color:#f14703; font-size: 1.2em; margin-top: 3em;text-shadow:1px 1px 0.5px #ffffff;}

    li, h6 { color: #ffffff; font-size: 1em; margin: 1em 0em 0em 1.5em; }
    ol { margin: 4em 0em 0em 0em;}


    
    


}



    

        

